#globe {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.time {
    position: absolute;
    color: white;
    left: 50%;
    bottom: 80px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    cursor: pointer;
}

.logo-left {
    position: absolute;
    top: 10px;
    left: 10px;
}

.logo-right {
    position: absolute;
    top: 10px;
    right: 10px;
}

.actions {
    position:absolute;
    bottom:20px;
    right:5px;
    color:white;
}

.actions-vertical {
    position:absolute;
    right:5px;
    top:50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.icon {
    padding-right:10px;
    cursor: pointer;
}

.background-icon {
    height: 32px !important;
    width: 32px !important;
    border-radius: 50%;
    border: 3px solid black;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 47px 47px;
}

.background-icon.hilited {
    border: 3px solid yellow;
}

.list {
    position: absolute;
    color: white;
    top: 120px;
    left: 20px;
    max-height: calc(100vh - 120px);
    max-width:25%;
    direction: rtl;
    overflow:auto;
}

.list ul {
    direction:ltr;
    list-style: none;
}

.list li {
    padding-top: 15px;
}

.pointer {
    cursor: pointer;
}

.highlited {
    border-bottom:3px solid yellow;
}

.faded {
    opacity: 0.5;
}

.dot {
    height: 18px;
    width: 18px;
    border-radius: 50%;
    display: inline-block;
    margin-right:10px;
    vertical-align: middle;
}

.info-panel {
    position: absolute;
    background-color: black;
    color:white;
    top: 0px;
    right: 0px;
    z-index: 1000;
    max-width: 0px;
    overflow-x: hidden;
    width: 30vw;
    height: 100vh;
    transition: ease-in-out 400ms max-width;
}

.info-panel.opened {
    max-width: 30vw;
    transition: ease-in-out 600ms max-width;
}

.info-panel iframe {
    position: absolute;
    width: 100%;
    height: calc(100% - 20px);
    top: 20px;
    left: 0px;
}

.info-panel .close {
    position: absolute;
    top: 0px;
    left: 0px;
    width:100%;
    height:20px;
    text-align: center;
}
