#time {
    position: absolute;
    font-family: sans-serif;
    color: white;
    left: 50%;
    bottom:80px;
    -webkit-transform:translateX(-50%);
    transform: translateX(-50%);
    cursor: pointer;
}

#logo {
    position:absolute;
    top:10px;
    left:10px;
}

.faded {
    opacity: 0.5;
}