<div id="globe" style="background: url(assets/img/ocean.jpg) no-repeat center center fixed;"></div>
<div class="list">
    <h3 class="pointer" (click)="showHideSatellites()">
        <fa-icon [icon]="satellites.length === 0 ? faCircle : faCircleCheck"></fa-icon>&nbsp;Satellites
    </h3>
    <ul>
        <li *ngFor="let satellite of satellites">
            <span class="pointer" (click)="select(satellite)">
                <span class="dot" [ngStyle]="{'background-color': satellite.color}"></span>
                <span [ngClass]="{highlited: selected && selected.name == satellite.name}">{{ satellite.name }}</span>    
            </span>
        </li>
    </ul>
    <h3 class="pointer" (click)="showHideInSitu()">
        <fa-icon [icon]="inSitu.length === 0 ? faCircle : faCircleCheck"></fa-icon>&nbsp;In situ
    </h3>
    <ul *ngIf="inSitu.length > 0">
        <li *ngFor="let inSituType of inSituTypes">
            <span class="pointer" (click)="select(inSituType)">
                <span class="dot" [ngStyle]="{'background-color': inSituType.color}"></span>
                <!--<img class="icon" [src]="'assets/img/' + inSituType.id.toLowerCase() + '.png'" />-->
                <span [ngClass]="{highlited: selected && selected.id == inSituType.id}">{{ inSituType.name }}</span>    
            </span>
        </li>
    </ul>
    <h3 class="pointer" (click)="showHideInfra()">
        <fa-icon [icon]="dataCenters.length === 0 ? faCircle : faCircleCheck"></fa-icon>&nbsp;Infrastructure
    </h3>
    <ul *ngIf="dataCenters.length > 0">
        <li *ngFor="let dataCenter of dataCenters">
            <span class="pointer" (click)="select(dataCenter)">
                <span class="dot" [ngStyle]="{'background-color': dataCenter.color}"></span>
                <span [ngClass]="{highlited: selected && selected.id == dataCenter.id}">{{ dataCenter.name }}</span>    
            </span>
        </li>
    </ul>
    <h3 class="pointer" (click)="showHideCables()">
        <fa-icon [icon]="cablePaths.length === 0 ? faCircle : faCircleCheck"></fa-icon>&nbsp;Submarine cables
    </h3>
</div>
<div class="logo">
    <img src="assets/data/EDITO_full_logo.png" style="max-width: 30vw"/>
</div>
<div class="time" [class]="frozen ? 'faded' : ''" (click)="freeze()">
    <fa-icon [icon]="faSnowflake"></fa-icon>&nbsp;<span id="time_logger"></span>
</div>
<div class="actions">
    <span class="icon" (click)="switchBackground()">
        <fa-icon [icon]="faEarthEurope" class="fa-2x"></fa-icon>&nbsp;<span id="time_logger"></span>
    </span>    
</div>
<div class="info-panel" [ngClass]="{opened:selected}">
    <div class="center pointer" (click)="unselect()">Close</div>
    <iframe *ngIf="selected && selected.infoUrl" [src]="selected.infoUrl | safe"></iframe>
</div>